".source.br":
  "ABS(<numeric expression>)":
    "prefix": "abs",
    "body": "abs(${1:expression})",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Aidx",
    "leftLabel": "Integer"
  "Mat <Array> ... Aidx(Array)":
    "prefix": "aidxm",
    "body": "Mat ${1:indexedArray}(udim(${2:}))=aidx(${2:})",
    "description": "Returns an array that is an ascending index obtained from sorting the array within parenthesis.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Aidx",
    "leftLabel": "Integer"
  "Aidx(Array)":
    "prefix": "aidx",
    "body": "aidx(${1:})",
    "description": "Returns an array of Subscripts that is an ascending index obtained from sorting the array within parenthesis.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer Array"
  "Atn(<numeric expression>)":
    "prefix": "Atn",
    "body": "Atn(${1:numeric expression})",
    "description": "A trigonometric function that calculates the arctangent of the numeric expression in radians.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Atn",
    "leftLabel": "Float"
  "Bell":
    "prefix": "Bell",
    "body": """
      bell$0
    """,
    "description": "Returns a character which, when printed, sounds the printer's or terminal's bell. It is used mainly in PRINT statements.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Bell",
    "leftLabel": ""
  "Ceil(<numeric expression>)":
    "prefix": "Ceil",
    "body": "Ceil(${1:Float})",
    "description": "Calculates the smallest integer greater than or equal to X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Ceil",
    "leftLabel": "Integer"
  "CmdKey":
    "prefix": "CmdKey",
    "body": "CmdKey",
    "description": "Returns a value to identify the last command key (function key) used to terminate keyboard input, or returns 0 if <ENTER> was the last key pressed.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CmdKey",
    "leftLabel": "Integer"
  "Cnt":
    "prefix": "Cnt",
    "body": "Cnt",
    "description": "Returns the number of data items successfully processed by the last I/O statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Cnt",
    "leftLabel": "Integer"
  "Code":
    "prefix": "Code",
    "body": "code",
    "description": "Indicates the termination status of a program as set by the STOP or END statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Code",
    "leftLabel": "Integer"
  "CoS(<numeric expression>)":
    "prefix": "cos",
    "body": "cos(${1:Float})$0",
    "description": "Trigonometric function that calculates the cosine of X in radians.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CoS",
    "leftLabel": "Integer"
  "CurCol":
    "prefix": "CurCol",
    "body": "CurCol",
    "description": "Returns cursor column from the last INPUT FIELDS or RINPUT FIELDS statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurCol",
    "leftLabel": "Integer"
  "CurFld":
    "prefix": "CurFld",
    "body": "CurFld",
    "description": "Returns the number of the field containing the cursor from the last INPUT FIELDS.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurFld",
    "leftLabel": "Integer"
  "CurRow":
    "prefix": "CurRow",
    "body": "CurRow",
    "description": "Returns the cursor's row from last Input Fields or RInput Fields statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurRow",
    "leftLabel": "Integer"
  "CurTab":
    "prefix": "CurTab",
    "body": "CurTab",
    "description": "Returns the active tabbed window number.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurTab",
    "leftLabel": "Integer"
  "CurWindow":
    "prefix": "CurWindow",
    "body": "CurWindow",
    "description": "Returns the number of the window currently in focus.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurWindow",
    "leftLabel": "Integer"
  "Date([<Integer>], [*<order_of_components$>])":
    "prefix": "Date",
    "body": "Date(${1:mdy})",
    "description": "Calculates and returns dates in numeric format, using no dashes or slashes as separators.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Date",
    "leftLabel": "Integer"
  "Days(<date>[,<format$>])":
    "prefix": "days",
    "body": "days(${1:date$},${2:mask$})$0",
    "description": "Returns the absolute, sequential value which is assigned to dates after January 1, 1900.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Days",
    "leftLabel": "Integer"
  "Debug_Str(<message-level>, <string-value>)":
    "prefix": "debug_str"
    "body": "debug_str(${1:10},\"${2:String}\")",
    "description": "Depending on loglevel (message-level must be equal or lower), send data to the logfile as well as to the debugger if it is attached, or optionally to the command console if the debugger is not attached and GUI is ON.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Debug_Str",
    "leftLabel": "Integer"
  "Didx(<array name>)":
    "prefix": "didx",
    "body": "mat ${1:indexArray}(udim(${2:arrayToBeIndexed}$))=aidx(${2:arrayToBeIndexed}$)",
    "description": " returns an array that is a descending index obtained from sorting the array named.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=DIdx",
    "leftLabel": "Integer"
  "Err":
    "prefix": "err",
    "body": "Err",
    "description": "Returns the error code of the most recent error.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Err",
    "leftLabel": "Integer"
  "Exists(<filename>)":
    "prefix": "exists",
    "body": "exists($1:${filename$})",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Exists",
    "leftLabel": "Integer"
  "Exp(<numeric expression>)":
    "prefix": "exp",
    "body": "exp(${1:x})",
    "description": "Calculates the exponential value of X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Exp",
    "leftLabel": "Integer"
  "File(<file handle>)":
    "prefix": "file",
    "body": "file(${1:filenum})$0",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=File_(internal_function)",
    "leftLabel": "Integer"
  "Filenum":
    "prefix": "filenum",
    "body": "filenum",
    "description": "returns the number of the file that produced the most recent I/O error.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FileNum",
    "leftLabel": "Integer"
  "Fkey(<value>)":
    "prefix": "fkey",
    "body": "fkey(${1:fkey})$0",
    "description": "Similar to CmdKey, but returns more information, particularly about how a field is exited.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FKey",
    "leftLabel": "Integer"
  "Fp(<numeric expression>)":
    "prefix": "fp",
    "body": "fp(${1:number})",
    "description": "Returns the fractional part of X. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FP",
    "leftLabel": "Integer"
  "Freesp(<file name>)":
    "prefix": "freesp",
    "body": "freesp(${1:n})$0",
    "description":  "Returns the number of free (unused) bytes on the drive containing file N.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FreeSp",
    "leftLabel": "Integer"
  "Inf":
    "prefix": "Inf",
    "body": "Inf",
    "description": "Returns the largest possible number in Business Rules! on the current system.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Inf",
    "leftLabel": "Integer"
  "Int(<numeric expression>)":
    "prefix": "Int(${1:float})$0",
    "body": "Int($)",
    "description": "Returns the largest integer less than or equal to X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Int",
    "leftLabel": "Integer"
  "Ip(<numeric expression>)":
    "prefix": "ip",
    "body": "ip(${1:float})",
    "description": "Returns the integer part of X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=IP",
    "leftLabel": "Integer"
  "KLN(<file name>[,<numeric expression>])":
    "prefix": "kln",
    "body": "kln(${filename$})$0",
    "description": "Returns the key length in bytes for master file specified by 'file name'.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KLn",
    "leftLabel": "Integer"
  "Kps(<file name> [,<numeric expression>])":
    "prefix": "kps",
    "body": "kps(${1:filename$})",
    "description": "Returns the byte position where the key for master file named starts. With an optional second parameter, KPS can also return the position of a section of a key when split keys are used.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KPs",
    "leftLabel": "Integer"
  "KRec(N)":
    "prefix": "KRec",
    "body": "KRec(${1:filenum})",
    "description": "When file N is a display file, KRec(N) acts as a line counter for lines output to the file. If file N is an internal file opened for Keyed processing, then KRec(N) returns the number of the last record accessed in the key file.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KRec",
    "leftLabel": "Integer"
  "Len(<string>)":
    "prefix": "len",
    "body": "len(${string}$)$0",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Len",
    "leftLabel": "Integer"
  "Line":
    "prefix": "line",
    "body": "line",
    "description": "Returns the line number of the most recent error. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Line",
    "leftLabel": "Integer"
  "Lines(<file number>)":
    "prefix": "lines",
    "body": "lines(${1:filenum})",
    "description": "Returns the number of lines printed since the last new page.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "LineSPP(<file number>)":
    "prefix": "linespp",
    "body": "linespp(${1:filenum})$0",
    "description": "Returns the current lines per page as set by a BRConfig.sys PRINTER spec's LPP parameter or 66 by default.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=LineSPP",
    "leftLabel": "Integer"
  "Log(<positive number>)":
    "prefix": "log",
    "body": "log(${1:number})$0",
    "description": "Returns the natural logarithm of its argument.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Log",
    "leftLabel": "Integer"
  "Lrec(<file handle>)":
    "prefix": "lrec",
    "body": "lrec(${1:filenum})$0",
    "description": "Returns the number of the last record in the file.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=LRec",
    "leftLabel": "Integer"
  "Mat2Str(MAT <Array Name>, <String Variable> [, [MAT] <Delimiter$>] [, \"<Quote-Type>] [:] [<trim>]\")":
    "prefix": "mat2str"
    "body": "mat2str( MAT ${1:array$}, ${2:str$}, \",\")",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Mat2Str",
    "leftLabel": "Integer"
  "Max(<value>,<value>[,...])":
    "prefix": "max",
    "body": "max(${1:number},${2:number})",
    "description": "Returns the largest numeric value in the set of numbers inside parentheses (X1, X2 and so on).",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Max",
    "leftLabel": "Integer"
  "Min(<value>,<value>[,...])":
    "prefix": "Min",
    "body": "Min",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Min",
    "leftLabel": "Integer"
  "Mod(<numerator>, <denominator>)":
    "prefix": "Mod",
    "body": "Mod",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Mod",
    "leftLabel": "Integer"
  "Msg":
    "prefix": "Msg",
    "body": "Msg",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Msg",
    "leftLabel": "Integer"
  "MsgBox":
    "prefix": "MsgBox",
    "body": "MsgBox",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=MsgBox",
    "leftLabel": "Integer"
  "NewPage":
    "prefix": "NewPage",
    "body": "NewPage",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=NewPage",
    "leftLabel": "Integer"
  "Next":
    "prefix": "Next",
    "body": "Next",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Next",
    "leftLabel": "Integer"
  "NxtCol":
    "prefix": "NxtCol",
    "body": "NxtCol",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=NxtCol",
    "leftLabel": "Integer"
  "Nxtfld":
    "prefix": "Nxtfld",
    "body": "Nxtfld",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "NxtRow":
    "prefix": "NxtRow",
    "body": "NxtRow",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Ord":
    "prefix": "Ord",
    "body": "Ord",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Pi":
    "prefix": "Pi",
    "body": "Pi",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Pos":
    "prefix": "Pos",
    "body": "Pos",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Printer_List":
    "prefix": "Printer_List",
    "body": "abs",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=abs",
    "leftLabel": "Integer"
  "ProcIn":
    "prefix": "ProcIn",
    "body": "ProcIn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=ProcIn",
    "leftLabel": "Integer"
  "Rec":
    "prefix": "Rec",
    "body": "Rec",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rec",
    "leftLabel": "Integer"
  "Rem":
    "prefix": "Rem",
    "body": "Rem",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rem",
    "leftLabel": "Integer"
  "RLn":
    "prefix": "RLn",
    "body": "RLn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=RLn",
    "leftLabel": "Integer"
  "Rnd":
    "prefix": "Rnd",
    "body": "Rnd",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rnd",
    "leftLabel": "Integer"
  "Round":
    "prefix": "Round",
    "body": "Round",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Round",
    "leftLabel": "Integer"
  "Serial":
    "prefix": "Serial",
    "body": "Serial",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Serial",
    "leftLabel": "Integer"
  "SetEnv":
    "prefix": "SetEnv",
    "body": "SetEnv",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=SetEnv",
    "leftLabel": "Integer"
  "Sgn":
    "prefix": "Sgn",
    "body": "Sgn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sgn",
    "leftLabel": "Integer"
  "Sin":
    "prefix": "Sin",
    "body": "Sin",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sin",
    "leftLabel": "Integer"
  "Sleep":
    "prefix": "Sleep",
    "body": "Sleep",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sleep",
    "leftLabel": "Integer"
  "Sqr":
    "prefix": "Sqr",
    "body": "Sqr",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sqr",
    "leftLabel": "Integer"
  "Srch":
    "prefix": "Srch",
    "body": "Srch",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Srch",
    "leftLabel": "Integer"
  "Str2Mat":
    "prefix": "Str2Mat"
    "body": "absStr2Mat",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=absStr2Mat",
    "leftLabel": "Integer"
  "Sum":
    "prefix": "Sum",
    "body": "Sum",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sum",
    "leftLabel": "Integer"
  "Tab":
    "prefix": "Tab",
    "body": "Tab",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tab",
    "leftLabel": "Integer"
  "Tan":
    "prefix": "Tan",
    "body": "Tan",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tan",
    "leftLabel": "Integer"
  "Timer":
    "prefix": "Tim",
    "body": "Tim",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tim",
    "leftLabel": "Integer"
  "UDim":
    "prefix": "UDim",
    "body": "UDim",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=UDim",
    "leftLabel": "Integer"
  "Val":
    "prefix": "Val",
    "body": "Val",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Val",
    "leftLabel": "Integer"
  "Version":
    "prefix": "vers",
    "body": "vers",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Version",
    "leftLabel": "Integer"
