".source.br":
  "ABS(<numeric expression>)":
    "prefix": "abs",
    "body": "abs(${1:expression})",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Mat <Array> ... Aidx(Array)":
    "prefix": "aidxm",
    "body": "Mat ${1:indexedArray}(udim(${2:}))=aidx(${2:})",
    "description": "Returns an array that is an ascending index obtained from sorting the array within parenthesis.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Aidx(Array)":
    "prefix": "aidx",
    "body": "aidx(${1:})",
    "description": "Returns an array of Subscripts that is an ascending index obtained from sorting the array within parenthesis.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer Array"
  "Atn(<numeric expression>)":
    "prefix": "Atn",
    "body": "Atn(${1:<numeric expression>})",
    "description": "A trigonometric function that calculates the arctangent of the numeric expression in radians.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Atn",
    "leftLabel": "Float"
  "Bell":
    "prefix": "Bell",
    "body": "Bell",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Bell",
    "leftLabel": "Integer"
  "Ceil":
    "prefix": "Ceil",
    "body": "Ceil",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Ceil",
    "leftLabel": "Integer"
  "CmdKey":
    "prefix": "CmdKey",
    "body": "CmdKey",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CmdKey",
    "leftLabel": "Integer"
  "Cnt":
    "prefix": "Cnt",
    "body": "Cnt",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Cnt",
    "leftLabel": "Integer"
  "Code":
    "prefix": "Code",
    "body": "Code",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Code",
    "leftLabel": "Integer"
  "CoS":
    "prefix": "CoS",
    "body": "CoS",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CoS",
    "leftLabel": "Integer"
  "CurCol":
    "prefix": "CurCol",
    "body": "CurCol",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurCol",
    "leftLabel": "Integer"
  "CurFld":
    "prefix": "CurFld",
    "body": "CurFld",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurFld",
    "leftLabel": "Integer"
  "CurRow":
    "prefix": "CurRow",
    "body": "CurRow",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurRow",
    "leftLabel": "Integer"
  "CurTab":
    "prefix": "CurTab",
    "body": "CurTab",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurTab",
    "leftLabel": "Integer"
  "CurWindow":
    "prefix": "CurWindow"
    "body": "CurWindow",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurWindow",
    "leftLabel": "Integer"
  "Date":
    "prefix": "Date",
    "body": "Date",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Date",
    "leftLabel": "Integer"
  "Days":
    "prefix": "Days",
    "body": "Days",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Days",
    "leftLabel": "Integer"
  "Debug_Str":
    "prefix": "Debug_Str"
    "body": "Debug_Str",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Debug_Str",
    "leftLabel": "Integer"
  "DIdx":
    "prefix": "DIdx",
    "body": "DIdx",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=DIdx",
    "leftLabel": "Integer"
  "Err":
    "prefix": "Err",
    "body": "Err",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Err",
    "leftLabel": "Integer"
  "Exists":
    "prefix": "Exists",
    "body": "Exists",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Exists",
    "leftLabel": "Integer"
  "Exp":
    "prefix": "Exp",
    "body": "Exp",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Exp",
    "leftLabel": "Integer"
  "File":
    "prefix": "File",
    "body": "File",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=File",
    "leftLabel": "Integer"
  "FileNum":
    "prefix": "FileNum",
    "body": "FileNum",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FileNum",
    "leftLabel": "Integer"
  "FKey":
    "prefix": "FKey",
    "body": "FKey",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FKey",
    "leftLabel": "Integer"
  "FP":
    "prefix": "FP",
    "body": "FP",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FP",
    "leftLabel": "Integer"
  "FreeSp":
    "prefix": "FreeSp",
    "body": "FreeSp",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FreeSp",
    "leftLabel": "Integer"
  "Inf":
    "prefix": "Inf",
    "body": "Inf",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Inf",
    "leftLabel": "Integer"
  "Int":
    "prefix": "Int",
    "body": "Int",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Int",
    "leftLabel": "Integer"
  "IP":
    "prefix": "IP",
    "body": "IP",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=IP",
    "leftLabel": "Integer"
  "KLn":
    "prefix": "KLn",
    "body": "KLn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KLn",
    "leftLabel": "Integer"
  "KPs":
    "prefix": "KPs",
    "body": "KPs",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KPs",
    "leftLabel": "Integer"
  "KRec":
    "prefix": "KRec",
    "body": "KRec",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KRec",
    "leftLabel": "Integer"
  "Len":
    "prefix": "Len",
    "body": "Len",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Len",
    "leftLabel": "Integer"
  "Line":
    "prefix": "Line",
    "body": "Line",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Line",
    "leftLabel": "Integer"
  "Lines":
    "prefix": "Lines",
    "body": "Lines",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "LineSPP":
    "prefix": "LineSPP",
    "body": "LineSPP",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=LineSPP",
    "leftLabel": "Integer"
  "Log":
    "prefix": "Log",
    "body": "Log",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Log",
    "leftLabel": "Integer"
  "LRec":
    "prefix": "LRec",
    "body": "LRec",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=LRec",
    "leftLabel": "Integer"
  "Mat2Str":
    "prefix": "Mat2Str"
    "body": "Mat2Str",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Mat2Str",
    "leftLabel": "Integer"
  "Max":
    "prefix": "Max",
    "body": "Max",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Max",
    "leftLabel": "Integer"
  "Min":
    "prefix": "Min",
    "body": "Min",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Min",
    "leftLabel": "Integer"
  "Mod":
    "prefix": "Mod",
    "body": "Mod",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Mod",
    "leftLabel": "Integer"
  "Msg":
    "prefix": "Msg",
    "body": "Msg",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Msg",
    "leftLabel": "Integer"
  "MsgBox":
    "prefix": "MsgBox",
    "body": "MsgBox",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=MsgBox",
    "leftLabel": "Integer"
  "NewPage":
    "prefix": "NewPage",
    "body": "NewPage",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=NewPage",
    "leftLabel": "Integer"
  "Next":
    "prefix": "Next",
    "body": "Next",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Next",
    "leftLabel": "Integer"
  "NxtCol":
    "prefix": "NxtCol",
    "body": "NxtCol",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=NxtCol",
    "leftLabel": "Integer"
  "Nxtfld":
    "prefix": "Nxtfld",
    "body": "Nxtfld",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "NxtRow":
    "prefix": "NxtRow",
    "body": "NxtRow",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Ord":
    "prefix": "Ord",
    "body": "Ord",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Pi":
    "prefix": "Pi",
    "body": "Pi",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Pos":
    "prefix": "Pos",
    "body": "Pos",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "Printer_List":
    "prefix": "Printer_List",
    "body": "abs",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=abs",
    "leftLabel": "Integer"
  "ProcIn":
    "prefix": "ProcIn",
    "body": "ProcIn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=ProcIn",
    "leftLabel": "Integer"
  "Rec":
    "prefix": "Rec",
    "body": "Rec",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rec",
    "leftLabel": "Integer"
  "Rem":
    "prefix": "Rem",
    "body": "Rem",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rem",
    "leftLabel": "Integer"
  "RLn":
    "prefix": "RLn",
    "body": "RLn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=RLn",
    "leftLabel": "Integer"
  "Rnd":
    "prefix": "Rnd",
    "body": "Rnd",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rnd",
    "leftLabel": "Integer"
  "Round":
    "prefix": "Round",
    "body": "Round",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Round",
    "leftLabel": "Integer"
  "Serial":
    "prefix": "Serial",
    "body": "Serial",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Serial",
    "leftLabel": "Integer"
  "SetEnv":
    "prefix": "SetEnv",
    "body": "SetEnv",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=SetEnv",
    "leftLabel": "Integer"
  "Sgn":
    "prefix": "Sgn",
    "body": "Sgn",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sgn",
    "leftLabel": "Integer"
  "Sin":
    "prefix": "Sin",
    "body": "Sin",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sin",
    "leftLabel": "Integer"
  "Sleep":
    "prefix": "Sleep",
    "body": "Sleep",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sleep",
    "leftLabel": "Integer"
  "Sqr":
    "prefix": "Sqr",
    "body": "Sqr",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sqr",
    "leftLabel": "Integer"
  "Srch":
    "prefix": "Srch",
    "body": "Srch",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Srch",
    "leftLabel": "Integer"
  "Str2Mat":
    "prefix": "Str2Mat"
    "body": "absStr2Mat",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=absStr2Mat",
    "leftLabel": "Integer"
  "Sum":
    "prefix": "Sum",
    "body": "Sum",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sum",
    "leftLabel": "Integer"
  "Tab":
    "prefix": "Tab",
    "body": "Tab",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tab",
    "leftLabel": "Integer"
  "Tan":
    "prefix": "Tan",
    "body": "Tan",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tan",
    "leftLabel": "Integer"
  "Timer":
    "prefix": "Tim",
    "body": "Tim",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tim",
    "leftLabel": "Integer"
  "UDim":
    "prefix": "UDim",
    "body": "UDim",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=UDim",
    "leftLabel": "Integer"
  "Val":
    "prefix": "Val",
    "body": "Val",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Val",
    "leftLabel": "Integer"
  "Version":
    "prefix": "vers",
    "body": "vers",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Version",
    "leftLabel": "Integer"
