".source.br":
  "For ... Next":
    "prefix": "for"
    "body": """
      for ${2:i}=1 to udim(${1:array})
        $3
      next ${2:i}
    """
    "description": "For Loop"
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?title=For"
    "leftLabel": "Integer"
  "Do ... Loop":
    "prefix": "do"
    "body": """
      do
        $1
      loop
    """
    "description": "Do Loop"
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?title=Do"
    "leftLabel": "Integer"
  "Do While ... Loop":
    "prefix": "dow"
    "body": """
      do while ${1:expression}
        $2
      loop
    """
    "description": "Do Loop"
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?title=Do"
    "leftLabel": "Integer"
  "Do Until ... Loop":
    "prefix": "dou"
    "body": """
      do until ${1:expression}
        $2
      loop
    """
    "description": "Do Loop"
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?title=Do"
    "leftLabel": "Integer"
