".source.br":
  "ABS(<numeric expression>)":
    "prefix": "ABS(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "abs(${1:expression})",
    "description": "Builds key from record data.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Abs",
    "leftLabel": "Float"
  "Mat <Array> ... Aidx(Array)":
    "prefix": "Mat <Array> ... Aidx(Array)",
    "rightLabelHTML":"",
    "body": "Mat ${1:indexedArray}(udim(${2:}))=aidx(${2:})",
    "description": "Returns an array that is an ascending index obtained from sorting the array within parenthesis.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Aidx",
    "leftLabel": "None"
  "Aidx(Array)":
    "prefix": "Aidx(Array)",
    "rightLabelHTML":"",
    "body": "aidx(${1:})",
    "description": "Returns an array of Subscripts that is an ascending index obtained from sorting the array within parenthesis.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer Array"
  "Atn(<numeric expression>)":
    "prefix": "Atn(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "Atn(${1:numeric expression})",
    "description": "A trigonometric function that calculates the arctangent of the numeric expression in radians.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Atn",
    "leftLabel": "Float"
  "Bell":
    "prefix": "Bell",
    "rightLabelHTML":"",
    "body": """
      bell$0
    """,
    "description": "Returns a character which, when printed, sounds the printer's or terminal's bell. It is used mainly in PRINT statements.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Bell",
    "leftLabel": "Special"
  "Ceil(<numeric expression>)":
    "prefix": "Ceil(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "Ceil(${1:Float})",
    "description": "Calculates the smallest integer greater than or equal to X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Ceil",
    "leftLabel": "Integer"
  "CmdKey":
    "prefix": "CmdKey",
    "rightLabelHTML":"",
    "body": "CmdKey",
    "description": "Returns a value to identify the last command key (function key) used to terminate keyboard input, or returns 0 if <ENTER> was the last key pressed.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CmdKey",
    "leftLabel": "Integer"
  "Cnt":
    "prefix": "Cnt",
    "rightLabelHTML":"",
    "body": "Cnt",
    "description": "Returns the number of data items successfully processed by the last I/O statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Cnt",
    "leftLabel": "Integer"
  "Code":
    "prefix": "Code",
    "rightLabelHTML":"",
    "body": "code",
    "description": "Indicates the termination status of a program as set by the STOP or END statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Code",
    "leftLabel": "Integer"
  "CoS(<numeric expression>)":
    "prefix": "CoS(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "cos(${1:Float})$0",
    "description": "Trigonometric function that calculates the cosine of X in radians.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CoS",
    "leftLabel": "Float"
  "CurCol":
    "prefix": "CurCol",
    "rightLabelHTML":"",
    "body": "CurCol",
    "description": "Returns cursor column from the last INPUT FIELDS or RINPUT FIELDS statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurCol",
    "leftLabel": "Integer"
  "CurFld":
    "prefix": "CurFld",
    "rightLabelHTML":"",
    "body": "CurFld",
    "description": "Returns the number of the field containing the cursor from the last INPUT FIELDS.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurFld",
    "leftLabel": "Integer"
  "CurRow":
    "prefix": "CurRow",
    "rightLabelHTML":"",
    "body": "CurRow",
    "description": "Returns the cursor's row from last Input Fields or RInput Fields statement.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurRow",
    "leftLabel": "Integer"
  "CurTab":
    "prefix": "CurTab",
    "rightLabelHTML":"",
    "body": "CurTab",
    "description": "Returns the active tabbed window number.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurTab",
    "leftLabel": "Integer"
  "CurWindow":
    "prefix": "CurWindow",
    "rightLabelHTML":"",
    "body": "CurWindow",
    "description": "Returns the number of the window currently in focus.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=CurWindow",
    "leftLabel": "Integer"
  "Date([<Integer>], [*<order_of_components$>])":
    "prefix": "Date([<Integer>], [*<order_of_components$>])",
    "rightLabelHTML":"",
    "body": "Date(${1:mdy})",
    "description": "Calculates and returns dates in numeric format, using no dashes or slashes as separators.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Date",
    "leftLabel": "Integer"
  "Days(<date>[,<format$>])":
    "prefix": "Days(<date>[,<format$>])",
    "rightLabelHTML":"",
    "body": "days(${1:date$},${2:mask$})$0",
    "description": "Returns the absolute, sequential value which is assigned to dates after January 1, 1900.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Days",
    "leftLabel": "Integer"
  "Debug_Str(<message-level>, <string-value>)":
    "prefix": "Debug_Str(<message-level>, <string-value>)r"
    "rightLabelHTML":"",
    "body": "debug_str(${1:10},\"${2:String}\")",
    "description": "Depending on loglevel (message-level must be equal or lower), send data to the logfile as well as to the debugger if it is attached, or optionally to the command console if the debugger is not attached and GUI is ON.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Debug_Str",
    "leftLabel": "None"
  "Didx(<array name>)":
    "prefix": "Didx(<array name>)",
    "rightLabelHTML":"",
    "body": "mat ${1:indexArray}(udim(${2:arrayToBeIndexed}$))=aidx(${2:arrayToBeIndexed}$)",
    "description": " returns an array that is a descending index obtained from sorting the array named.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=DIdx",
    "leftLabel": "Integer Array"
  "Err":
    "prefix": "Err",
    "rightLabelHTML":"",
    "body": "Err",
    "description": "Returns the error code of the most recent error.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Err",
    "leftLabel": "Integer"
  "Exists(<filename>)":
    "prefix": "Exists(<filename>)",
    "rightLabelHTML":"",
    "body": "exists($1:${filename$})",
    "description": "The exists internal function returns a nonzero value if the specified file (PROC or program)exists and the user has read privileges. If one or both of these conditions is false, exists returns a value of zero. NOTE that on single-user systems, all files have read privileges for the current user.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Exists",
    "leftLabel": "Integer"
  "Exp(<numeric expression>)":
    "prefix": "Exp(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "exp(${1:x})",
    "description": "Calculates the exponential value of X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Exp",
    "leftLabel": "Float"
  "File(<file handle>)":
    "prefix": "File(<file handle>)",
    "rightLabelHTML":"",
    "body": "file(${1:filenum})$0",
    "description": """
      The File internal function returns the numeric value that specifies the status of file associated with the File Handle.
      -1 	File not opened.
      0 	Operation performed successfully.
      10 	End of file occurred during input.
      11 	End of file occurred during output.
      20 	Transmission error during input.
      21 	Transmission error during output.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=File_(internal_function)",
    "leftLabel": "Integer"
  "Filenum":
    "prefix": "Filenum",
    "rightLabelHTML":"",
    "body": "filenum",
    "description": "returns the number of the file that produced the most recent I/O error.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FileNum",
    "leftLabel": "Integer"
  "Fkey(<value>)":
    "prefix": "Fkey(<value>)",
    "rightLabelHTML":"",
    "body": "fkey(${1:fkey})$0",
    "description": "Similar to CmdKey, but returns more information, particularly about how a field is exited.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FKey",
    "leftLabel": "Integer"
  "Fp(<numeric expression>)":
    "prefix": "Fp(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "fp(${1:number})",
    "description": "Returns the fractional part of X. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FP",
    "leftLabel": "Float"
  "Freesp(<file name>)":
    "prefix": "Freesp(<file name>)",
    "rightLabelHTML":"",
    "body": "freesp(${1:n})$0",
    "description":  "Returns the number of free (unused) bytes on the drive containing file N.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=FreeSp",
    "leftLabel": "Integer"
  "Inf":
    "prefix": "Inf",
    "rightLabelHTML":"",
    "body": "Inf",
    "description": "Returns the largest possible number in Business Rules! on the current system.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Inf",
    "leftLabel": "Integer"
  "Int(<numeric expression>)":
    "prefix": "Int(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "Int($)",
    "description": "Returns the largest integer less than or equal to X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Int",
    "leftLabel": "Integer"
  "Ip(<numeric expression>)":
    "prefix": "Ip(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "ip(${1:float})",
    "description": "Returns the integer part of X.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=IP",
    "leftLabel": "Integer"
  "KLN(<file name>[,<numeric expression>])":
    "prefix": "KLN(<file name>[,<numeric expression>])",
    "rightLabelHTML":"",
    "body": "kln(${filename$})$0",
    "description": "Returns the key length in bytes for master file specified by 'file name'.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KLn",
    "leftLabel": "Integer"
  "Kps(<file name> [,<numeric expression>])":
    "prefix": "Kps(<file name> [,<numeric expression>])",
    "rightLabelHTML":"",
    "body": "kps(${1:filename$})",
    "description": "Returns the byte position where the key for master file named starts. With an optional second parameter, KPS can also return the position of a section of a key when split keys are used.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KPs",
    "leftLabel": "Integer"
  "KRec(N)":
    "prefix": "KRec(N)",
    "rightLabelHTML":"",
    "body": "KRec(${1:filenum})",
    "description": "When file N is a display file, KRec(N) acts as a line counter for lines output to the file. If file N is an internal file opened for Keyed processing, then KRec(N) returns the number of the last record accessed in the key file.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=KRec",
    "leftLabel": "Integer"
  "Len(<string>)":
    "prefix": "Len(<string>)",
    "rightLabelHTML":"",
    "body": "len(${string}$)$0",
    "description": "The Len(string$) internal function returns the number of characters in variable string$.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Len",
    "leftLabel": "Integer"
  "Line":
    "prefix": "Line",
    "rightLabelHTML":"",
    "body": "line",
    "description": "Returns the line number of the most recent error. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Line",
    "leftLabel": "Integer"
  "Lines(<file number>)":
    "prefix": "Lines(<file number>)",
    "rightLabelHTML":"",
    "body": "lines(${1:filenum})",
    "description": "Returns the number of lines printed since the last new page.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=aidx",
    "leftLabel": "Integer"
  "LineSPP(<file number>)":
    "prefix": "LineSPP(<file number>)",
    "rightLabelHTML":"",
    "body": "linespp(${1:filenum})$0",
    "description": "Returns the current lines per page as set by a BRConfig.sys PRINTER spec's LPP parameter or 66 by default.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=LineSPP",
    "leftLabel": "Integer"
  "Log(<positive number>)":
    "prefix": "Log(<positive number>)",
    "rightLabelHTML":"",
    "body": "log(${1:number})$0",
    "description": "Returns the natural logarithm of its argument.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Log",
    "leftLabel": "Float"
  "Lrec(<file handle>)":
    "prefix": "Lrec(<file handle>)",
    "rightLabelHTML":"",
    "body": "lrec(${1:filenum})$0",
    "description": "Returns the number of the last record in the file.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=LRec",
    "leftLabel": "Integer"
  "Mat2Str(MAT <Array Name>, <String Variable> [, [MAT] <Delimiter$>] [, \"<Quote-Type>] [:] [<trim>]\")":
    "prefix": "Mat2Str(MAT <Array Name>, <String Variable> [, [MAT] <Delimiter$>] [, \"<Quote-Type>] [:] [<trim>]\")r"
    "rightLabelHTML":"",
    "body": "mat2str( MAT ${1:array$}, ${2:str$}, \",\")",
    "description": "Mat2Str internal function which converts an array to a string",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Mat2Str",
    "leftLabel": "None"
  "Max(<value>,<value>[,...])":
    "prefix": "Max(<value>,<value>[,...])",
    "rightLabelHTML":"",
    "body": "max(${1:number},${2:number})",
    "description": "Returns the largest numeric value in the set of numbers inside parentheses (X1, X2 and so on).",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Max",
    "leftLabel": "Float"
  "Min(<value>,<value>[,...])":
    "prefix": "Min(<value>,<value>[,...])",
    "rightLabelHTML":"",
    "body": "Min",
    "description": "The Min internal function returns the smallest numeric value in the set of numbers inside parentheses (X1, X2 and so on). ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Min",
    "leftLabel": "Float"
  "Mod(<numerator>, <denominator>)":
    "prefix": "Mod(<numerator>, <denominator>)",
    "rightLabelHTML":"",
    "body": "Mod",
    "description": "The Mod internal function returns the remainder of the numerator divided by the denominator. In other words, it is the remainder left after the division of one integer by another ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Mod",
    "leftLabel": "Float"
  "Msg(\"<KB>\",<string>)":
    "prefix": "Msg(\"<KB>\",<string>)",
    "rightLabelHTML":"",
    "body": "Msg",
    "description": "The MSG internal function (without the dollar sign) is only available for Windows & CS versions. This should not be confused with Msg$.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Msg",
    "leftLabel": "Integer"
  "Msgbox(<PROMPT$>[, <TITLE$>][, <BUTTONS$>][, <ICON$>])":
    "prefix": "Msgbox(<PROMPT$>[, <TITLE$>][, <BUTTONS$>][, <ICON$>])",
    "rightLabelHTML":"",
    "body": "msgbox('${1:what is my purpose?}','${2:Title}','${3:Yn}','${icon$}')",
    "description": "The MsgBox Internal Function will display a Windows Message Box. It has four possible parameters.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=MsgBox",
    "leftLabel": "Integer"
  "Newpage":
    "prefix": "Newpage",
    "rightLabelHTML":"",
    "body": "newpage",
    "description": "The NewPage internal function returns a character which, when printed, causes the printer to do a form feed or the screen to clear.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=NewPage",
    "leftLabel": "Special"
  "Ord(<string>)":
    "prefix": "Ord(<string>)",
    "rightLabelHTML":"",
    "body": "ord(${string}$)$0",
    "description": "ASCII ordinate value (from 0 to 255) of the first character in the string$.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Ord",
    "leftLabel": "Integer"
  "Pi":
    "prefix": "Pi",
    "rightLabelHTML":"",
    "body": "pi",
    "description": "Returns the mathematical constant of 3.14159265358979",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?title=Pi",
    "leftLabel": "Float"
  "Pos(<string>,[^]<string>,[[-]<start>])":
    "prefix": "Pos(<string>,[^]<string>,[[-]<start>])",
    "rightLabelHTML":"",
    "body": "Pos(${1:A$},${2:B$})$0",
    "description": "Returns the position of the first character of a substring in str1$ that matches str2$.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Pos",
    "leftLabel": "Integer"
  "Printer_List(<Mat array name>)":
    "prefix": "Printer_List(<Mat array name>)",
    "rightLabelHTML":"",
    "body": "printer_list(mat ${1:A}$)$0",
    "description": "Reads the list of available Windows printers into the provided array (mat a$). Returns the number of available printers.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=abs",
    "leftLabel": "Integer"
  "ProcIn":
    "prefix": "ProcIn",
    "rightLabelHTML":"",
    "body": "procin",
    "description": "Returns 0 if input is from the screen. Returns 1 if input is from a procedure file.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=ProcIn",
    "leftLabel": "Boolean"
  "Rec(<file ref>)":
    "prefix": "Rec(<file ref>)",
    "rightLabelHTML":"",
    "body": "rec(${1:filenum})$0",
    "description": "Returns the number of the record last processed in file N.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rec",
    "leftLabel": "Integer"
  "Rem(<numerator>, <denominator>)":
    "prefix": "Rem(<numerator>, <denominator>)",
    "rightLabelHTML":"",
    "body": "rem(${1:numberator},${2:denominator})",
    "description": "Returns the remainder of the numerator divided by the denominator.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?title=Rem_(internal_function)",
    "leftLabel": "Float"
  "RLn(<file handle>[,<new record length>])":
    "prefix": "RLn(<file handle>[,<new record length>])",
    "rightLabelHTML":"",
    "body": "rln(${1:filenum},${2:newlength})$0",
    "description": "returns the record length of an open file handle N.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=RLn",
    "leftLabel": "Integer"
  "RND[(<numeric expression>)]":
    "prefix": "RND[(<numeric expression>)]",
    "rightLabelHTML":"",
    "body": "int(rnd*${1:100}+1)$0",
    "description": "Returns a random number between 0 and 1.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Rnd",
    "leftLabel": "Float"
  "Round(<numeric expression>,<decimals>)":
    "prefix": "Round(<numeric expression>,<decimals>)",
    "rightLabelHTML":"",
    "body": "round(${1:number})",
    "description": "Calculates the value of the first value rounded to the specified number of decimal places. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Round",
    "leftLabel": "Float"
  "Serial":
    "prefix": "Serial",
    "rightLabelHTML":"",
    "body": "serial",
    "description": "returns the serial number assigned to this copy of Business Rules!. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Serial",
    "leftLabel": "Integer"
  "SetEnv(<field>,<value>)":
    "prefix": "SetEnv(<field>,<value>)",
    "rightLabelHTML":"",
    "body": "setenv(${1:field},${2:value})$0",
    "description": "Sets session based environmental variables in Business Rules!.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=SetEnv",
    "leftLabel": "None"
  "Sgn(<X>)":
    "prefix": "Sgn(<X>)",
    "rightLabelHTML":"",
    "body": "sgn(${1:number})$0",
    "description": "Returns a value which identifies whether a numeric value is negative, positive or zero.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sgn",
    "leftLabel": "Integer"
  "Sin":
    "prefix": "Sin",
    "rightLabelHTML":"",
    "body": "sin(${1:number})$0",
    "description": "Trigonometric function that returns the sine of X in radians.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sin",
    "leftLabel": "Float"
  "Sleep(<seconds>)":
    "prefix": "Sleep(<seconds>)",
    "rightLabelHTML":"",
    "body": "sleep(${1:seconds})$0",
    "description": "The Sleep internal function causes the processor to wait the specified number of seconds before continuing execution. It does not tie up the processor while waiting, which is especially important for multi-user systems.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sleep",
    "leftLabel": "None"
  "Sqr(<numeric expression>)":
    "prefix": "Sqr(<numeric expression>)",
    "rightLabelHTML":"",
    "body": "sqr(${1:number})$0",
    "description": "Returns the square root of its argument.",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sqr",
    "leftLabel": "Float"
  "Srch(<array-name$>,[^]<argument$>[,<row>])":
    "prefix": "Srch(<array-name$>,[^]<argument$>[,<row>])",
    "rightLabelHTML":"",
    "body": "srch(mat ${1:a}$,'^${2:search}')$0",
    "description": """
      Searches an array and returns the row number matching the argument.
      If the argument is not found, then either 0 (BR 4.1 and below) or -1 (BR 4.2 and above).
      The argument must be the same data type (string or numeric) as the array. The optional \"row\"
      parameter defines the starting array element for the search.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Srch",
    "leftLabel": "Integer"
  "Str2Mat(<string variable>, MAT <array name>, [MAT] <delimiter$>, [<quote-type:trim>])":
    "prefix": "Str2Mat(<string variable>, MAT <array name>, [MAT] <delimiter$>, [<quote-type:trim>])t"
    "rightLabelHTML":"",
    "body": "str2mat(${1:string}$,mat ${2:array}$,\"${3:,}\")$0",
    "description": """
      The Str2Mat Internal Function will split a string variable based on a
      delimiter and place the resulting strings into an array which STR2MAT
      dynamically re-dimensions. The string to mat and mat to string functions
      have been extended to ease parsing of CSV and XML data (as of 4.3).
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=absStr2Mat",
    "leftLabel": "None"
  "Sum(<numeric array>)":
    "prefix": "Sum(<numeric array>)",
    "rightLabelHTML":"",
    "body": "sum(${1:NumberArray})$0",
    "description": """
      The Sum internal function returns the sum of all the elements in the numeric array named.
      SUM also works with multi-dimensional matrices.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Sum",
    "leftLabel": "Float"
  "Tab(<col>)":
    "prefix": "Tab(<col>)",
    "rightLabelHTML":"",
    "body": "tab(${1:col})$0",
    "description": """
      The Tab(x) internal function positions the cursor at column x (similar to POS in a FORM statement), where x is any numeric expression.
      If the current position of the line is greater than column x, the cursor is positioned at column x in the next line.
      If x is negative, TAB(1) is assumed. If x is not an integer, it is rounded.
      If x is greater than the record length, the cursor is positioned at column 1 in the next line.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tab",
    "leftLabel": "None"
  "Tan(<x>)":
    "prefix": "Tan(<x>)",
    "rightLabelHTML":"",
    "body": "tan(${1:number})$0",
    "description": "The Tan internal function is a mathematical trigonometric function that calculates the tangent of X in radians. ",
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Tan",
    "leftLabel": "Float"
  "Timer":
    "prefix": "Timer",
    "rightLabelHTML":"",
    "body": "timer$0",
    "description": """
      The Timer internal function returns a \"Real Number\" with 5 decimal digits accuracy with the number of seconds elapsed since midnight, January 1, 1970.
      This starting point is obtained from the operating system so it is only as accurate as your system time.
      This value is used internally by the pro filer to monitor performance, but may be used within programs to measure the time very accurately
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Timer",
    "leftLabel": "Float"
  "UDim(<array name> [,<dimension>])":
    "prefix": "UDim(<array name> [,<dimension>])",
    "rightLabelHTML":"",
    "body": "udim(${1:array})$0",
    "description": """
      The UDim(A$,X) internal function returns the number of rows in the array if X=1. Returns the number of columns in the array if X=2. Returns the current size of dimensions 3, 4, 5, 6 or 7 when X is 3, 4, 5, 6 or 7. If the optional parameter X is omitted, UDIM returns the size of the first dimension.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=UDim",
    "leftLabel": "Integer"
  "VAL(<string>)":
    "prefix": "VAL(<string>)",
    "rightLabelHTML":"",
    "body": "val(${1:string})$0",
    "description": """
      The Val(A$) internal function returns A$ expressed as a numeric value rather than a string.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Val",
    "leftLabel": "Integer"
  "Version(<file_handle>)":
    "prefix": "Version(<file_handle>)",
    "rightLabelHTML":"",
    "body": "version(${1:filenum})$0",
    "description": """
      The Version internal function affects an open internal data file.
      It will return the version of that file. It can also be used to set the version.
    """,
    "descriptionMoreURL": "http://brwiki2.brulescorp.com/index.php?search=Version",
    "leftLabel": "Integer"
