 @import 'ui-variables';
 @import 'syntax-variables';
 // @import 'colors';

.syntax--br {
  .syntax--variable {
    color: @syntax-text-color
  }
  .syntax--linenumber {
    color: @syntax-color-constant
  }
}

.syntax--variable.syntax--array {
  font-weight: bold;
}

.syntax--variable.syntax--string.syntax--br {
  // color: @syntax-color-variable;
  font-style: normal;
}

.syntax--variable.syntax--br {
  font-style: italic;
}

.syntax--keyword.syntax--operator.syntax--br {
  // color: @hue-1;
  // font-weight: bold;
}

.syntax--line-label.syntax--br {
  color: @syntax-color-tag
}

.occurence {
  display: inline-block;
  animation-name: zoom-in-out;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.occurence-current-big {
  display: inline-block;
  animation-name: zoom-in-out-red;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.occurence-current {
  display: inline-block;
  animation-name: zoom-in-out-bright;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes zoom-in-out {
  0%{
    outline-width: 0;
    outline-style: solid;
    outline-color: @background-color-info;
    background-color: fade(@background-color-info,15%);
  }
  100%{
    outline-width: 15px;
    outline-color: fade(@background-color-info,0%);
    background-color: fade(@background-color-info,0%);
  }
}

@keyframes zoom-in-out-bright {
  0%{
    outline-width: 0;
    outline-style: solid;
    outline-color: @background-color-warning;
    background-color: fade(@background-color-warning,10%);
  }
  100%{
    outline-width: 15px;
    outline-color: fade(@background-color-warning,0%);
    background-color: fade(@background-color-warning,0%);
  }
}

@keyframes zoom-in-out-red {
  0%{
    outline-width: 0;
    outline-style: solid;
    outline-color: @background-color-error;
    background-color: fade(@background-color-error,20%);
  }
  100%{
    outline-width: 15px;
    outline-color: fade(@background-color-error,0%);
    background-color: fade(@background-color-error,0%);
  }
}

.br-autocompile.hidden {
  display: none;
}

.br-autocompile.active {
  color: @text-color-success;
}
